/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-image: url('../../static/img/bg-light.png');
  background-size: cover;
  backdrop-filter: blur(10px);
}

.banerImage1 {
  height: 400px;
}

@media screen and (min-width: 996px) {

  .bannerContent {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}